<a href="https://colab.research.google.com/github/Raghu0715/Phone-Pe-Project/blob/main/Phone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#step 1 : import required libraries

In [ ]:
import pandas as pd
import json

Step 2: Clone the data from github

In [ ]:
! git clone "https://github.com/PhonePe/Pulse.git"

Cloning into 'Pulse'...
remote: Enumerating objects: 16382, done.
remote: Counting objects: 100% (1180/1180), done.
remote: Compressing objects: 100% (1002/1002), done.
remote: Total 16382 (delta 159), reused 1114 (delta 157), pack-reused 15202 (from 1)
Receiving objects: 100% (16382/16382), 23.67 MiB | 9.56 MiB/s, done.
Resolving deltas: 100% (7901/7901), done.
Updating files: 100% (8291/8291), done.

In [ ]:
import os

In [ ]:
path = "/content/Pulse/data/aggregated/transaction/country/india/state/"
agg_state_list = os.listdir(path)
#using a empty dictionary with key as a column and value as a empty list
clm = {'state':[],'Year':[],'quater':[],'Transaction_type':[],'Transaction_count':[], 'Transaction_amount':[]}
for i in agg_state_list:
  p_i = path+i+"/"
  agg_yr = os.listdir(p_i)
  for j in agg_yr:
    p_j = p_i + j + "/"
    agg_yr_list = os.listdir(p_j)
    for k in agg_yr_list:
      p_k = p_j + k  #i don't have any file inside this json file so i want to retrive data from this files and i am not adding "/"
      #open the each file
      Data = open(p_k,'r')
      D = json.load(Data)
      for  l in D['data']['transactionData']:
       Name = l['name']
       count = l['paymentInstruments'][0]['count']
       amount = l['paymentInstruments'][0]['amount']
       clm['Transaction_type'].append(Name)
       clm['Transaction_count'].append(count)
       clm['Transaction_amount'].append(amount)
       clm['state'].append(i)
       clm['Year'].append(j)
       clm['quater'].append(int(k.strip('.json')))
#creat a Data frame
pd.DataFrame(clm)
Agg_trans_india = pd.DataFrame(clm)

In [ ]:
Agg_trans_india.to_csv("aggregate_transaction_overall_india.csv")

In [ ]:
df = pd.read_csv("/content/aggregate_transaction_overall_india.csv")

In [ ]:
df['state'].unique()

array(['goa', 'dadra-&-nagar-haveli-&-daman-&-diu', 'lakshadweep',
       'chandigarh', 'meghalaya', 'uttarakhand', 'telangana',
       'arunachal-pradesh', 'tripura', 'rajasthan', 'mizoram',
       'puducherry', 'jharkhand', 'uttar-pradesh', 'bihar',
       'andhra-pradesh', 'west-bengal', 'assam', 'ladakh', 'gujarat',
       'madhya-pradesh', 'andaman-&-nicobar-islands', 'chhattisgarh',
       'odisha', 'haryana', 'kerala', 'karnataka', 'manipur', 'punjab',
       'delhi', 'maharashtra', 'jammu-&-kashmir', 'himachal-pradesh',
       'tamil-nadu', 'nagaland', 'sikkim'], dtype=object)

In [ ]:
state = input("enter your state: ")
year = int(input("eneter year: "))
filtered_data = df[(df['state']== state) & (df['Year']==year)]
filtered_data

enter your state: telangana
eneter year: 2022

,Unnamed: 0,state,Year,quater,Transaction_type,Transaction_count,Transaction_amount
884,884,telangana,2022,4,Merchant payments,1002521735,4.915560e+11
885,885,telangana,2022,4,Peer-to-peer payments,694612831,2.393380e+12
886,886,telangana,2022,4,Recharge & bill payments,121188131,9.213676e+10
887,887,telangana,2022,4,Financial Services,401838,4.987194e+08
888,888,telangana,2022,4,Others,782297,6.806806e+08
889,889,telangana,2022,2,Merchant payments,565370506,3.074684e+11
890,890,telangana,2022,2,Peer-to-peer payments,422056582,1.580014e+12
891,891,telangana,2022,2,Recharge & bill payments,75099130,6.313676e+10
892,892,telangana,2022,2,Financial Services,245023,3.248578e+08
893,893,telangana,2022,2,Others,611316,4.704327e+08
894,894,telangana,2022,1,Merchant payments,449186799,2.438419e+11
895,895,telangana,2022,1,Peer-to-peer payments,368048408,1.375290e+12
896,896,telangana,2022,1,Recharge & bill payments,66352138,5.047045e+10
897,897,telangana,2022,1,Financial Services,284035,3.942835e+08
898,898,telangana,2022,1,Others,2582005,6.420057e+08
899,899,telangana,2022,3,Merchant payments,880414292,4.471506e+11
900,900,telangana,2022,3,Peer-to-peer payments,626830752,2.170173e+12
901,901,telangana,2022,3,Recharge & bill payments,119779835,8.793721e+10
902,902,telangana,2022,3,Financial Services,340458,4.427836e+08
903,903,telangana,2022,3,Others,800064,6.219009e+08

In [ ]:
for i in df:
  if i == 'andhra-pradesh':
     print(i)